include ../../utilities/bases.pug
doctype
html
  include ../head.pug
  body
    include ../headers.pug
    include ../intros.pug
    main
      include ../episodes.pug
      include ../weAre.pug
      include ../guests.pug
      include ../topics.pug
    include ../calls.pug
    include ../footer.pug