<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta ame="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:600&amp;display=swap">
    <link rel="stylesheet" href="../../atomic-sass/style/Normalize.css">
    <link rel="stylesheet" href="../../atomic-sass/style/style.css">
  </head>
  <body>
    <header class="header">
      <div class="header__container"><img src="" alt="">
        <nav class="menu__container">
          <input class="menu__container--btn" id="menu-btn" type="checkbox">
          <label class="menu__container--icon" for="menu-btn"><span class="nav-icon"></span></label>
          <ul class="menu--items">
            <li><a href="#">episodios</a></li>
            <li><a href="#">nosotros</a></li>
            <li><a href="#">entrevistas</a></li>
            <li><a href="#">tópicos</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="intro">
      <h1>Hello<span class="world">world</span>	pale blue dot<span class="punto">.</span></h1>
      <p class="intro__p-desktop">El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.</p>
      <p class="intro__p-mobile">Un podcast que explora el mundo de la programación. Nuevos episodios, todos los jueves cada 15 días.</p><a href="#">Conocé más</a>
    </section>
    <main>
      <section class="episode">
        <div class="episode__background"></div>
        <h2>Episodios</h2>
        <div class="episode__iframe">
          <div class="iframe--properties iframe--position">
            <iframe src="https://open.spotify.com/embed-podcast/show/2ySVrxGkN6n6frMTo9Nsrt" allow="encrypted-media"></iframe>
          </div>
          <div class="iframe--properties iframe--position">
            <iframe src="https://open.spotify.com/embed-podcast/show/4kYCRYJ3yK5DQbP5tbfZby" allow="encrypted-media"></iframe>
          </div>
          <div class="iframe--properties iframe--position">
            <iframe src="https://open.spotify.com/embed-podcast/show/5JxcIaIkN8zx3Zy7yD9snv" allow="encrypted-media"></iframe>
          </div>
          <div class="iframe--properties iframe--position">
            <iframe src="https://open.spotify.com/embed-podcast/show/2Iibd5A6R7mxkCm4NwNmUn" allow="encrypted-media"></iframe>
          </div>
        </div>
      </section>
      <section class="we" id="we">
        <div class="we__content"><img src="./imagenes/phone.png" alt="Celular, mujer con computador">
          <div class="we__content__info">
            <h2>De dónde venimos</h2>
            <p>Our posturings, our imagined self-importance, the delusion that we have some privileged position in the Universe, are challenged by this point of pale light.<br></p>
            <p>Our planet is a lonely speck in the great enveloping cosmic dark. In our obscurity, in all this vastness, there is no hint that help will come from elsewhere to save us from ourselves.</p>
          </div>
        </div>
      </section>
      <section class="interview">
        <h2>invetadas/os estelares</h2>
        <div class="interview__img"><img src="../utilities/images/grace-hopper.png" alt="Imagen de Grace Hopper"/><img src="../utilities/images/Katie-Bouman.png" alt="Imagen de Katie Bouman"/><img src="../utilities/images/Margaret_Hamilton.png" alt="Imagen de Margaret Hamilton"/><img src="../utilities/images/ARA-UNIVAC.png" alt="Computador de 1950"/><img src="../utilities/images/computer-operations.png" alt="Imagen de Computer Operatiors"/><img src="../utilities/images/susan-kare.png" alt="Imagen de susan Kare"/>
        </div>
      </section>
    </main>
  </body>
</html>