<!DOCTYPE html>
<html>
  <body>
    <header class="header">
      <div class="header__container"><img src="" alt="">
        <nav class="menu__container">
          <input class="menu__container--btn" id="menu-btn" type="checkbox">
          <label class="menu__container--icon" for="menu-btn"><span class="nav-icon"></span></label>
          <ul class="menu--items">
            <li><a href="#">episodios</a></li>
            <li><a href="#">nosotros</a></li>
            <li><a href="#">entrevistas</a></li>
            <li><a href="#">tópicos</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="intro">
      <h1>Hello<span class="world">world</span>	pale blue dot<span class="punto">.</span></h1>
      <p class="intro__p-desktop">El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.</p>
      <p class="intro__p-mobile">Un podcast que explora el mundo de la programación. Nuevos episodios, todos los jueves cada 15 días.</p><a href="#">Conocé más</a>
    </section>
    <main>
      <section class="episode">
        <div class="episode__background"></div>
        <h2>Episodios</h2>
        <div class="episode__iframe">
          <div class="iframe--properties iframe--position">
            <iframe src="https://open.spotify.com/embed-podcast/show/2ySVrxGkN6n6frMTo9Nsrt" allow="encrypted-media"></iframe>
          </div>
          <div class="iframe--properties iframe--position">
            <iframe src="https://open.spotify.com/embed-podcast/show/4kYCRYJ3yK5DQbP5tbfZby" allow="encrypted-media"></iframe>
          </div>
          <div class="iframe--properties iframe--position">
            <iframe src="https://open.spotify.com/embed-podcast/show/5JxcIaIkN8zx3Zy7yD9snv" allow="encrypted-media"></iframe>
          </div>
          <div class="iframe--properties iframe--position">
            <iframe src="https://open.spotify.com/embed-podcast/show/2Iibd5A6R7mxkCm4NwNmUn" allow="encrypted-media"></iframe>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>