section.episode
  .episode__background
  h2 #{titles[0]}
  .episode__iframe
    +iframe("2ySVrxGkN6n6frMTo9Nsrt")
    +iframe("4kYCRYJ3yK5DQbP5tbfZby")
    +iframe("5JxcIaIkN8zx3Zy7yD9snv")
    +iframe("2Iibd5A6R7mxkCm4NwNmUn")