footer
  p © 2019— Hello blue pale dot
  div
    +footer-icon("https://open.spotify.com/show/2ySVrxGkN6n6frMTo9Nsrt", "fa fa-spotify")
    +footer-icon("https://www.instagram.com/acamica/", "fa fa-instagram")
    +footer-icon("https://twitter.com/acamica_com", "fa fa-twitter")
    +footer-icon("https://es-la.facebook.com/Acamica.org/", "ab fa-facebook")
    +footer-icon("https://telegram.org/", "fab fa-telegram")