section.interview
  h2 #{titles[2]}
  .interview__img
    +interview--img("grace-hopper.png", "Imagen de Grace Hopper")
    +interview--img("Katie-Bouman.png", "Imagen de Katie Bouman")
    +interview--img("Margaret_Hamilton.png", "Imagen de Margaret Hamilton")
    +interview--img("ARA-UNIVAC.png", "Computador de 1950")
    +interview--img("computer-operations.png", "Imagen de Computer Operatiors")
    +interview--img("susan-kare.png", "Imagen de susan Kare")