header.header
  div.header__container
    img(src="", alt="")
    nav.menu__container
      input#menu-btn.menu__container--btn(type="checkbox")
      label.menu__container--icon(for="menu-btn"): span.nav-icon
      +menu--items