section.intro
	h1
		| Hello
		span.world world
		|	pale blue dot
		span.punto .
	p.intro__p-desktop El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.
	p.intro__p-mobile Un podcast que explora el mundo de la programación. Nuevos episodios, todos los jueves cada 15 días.
	a(href="#") Conocé más