section#topics.topics
  h2 #{titles[3]}
  .topics__content
    +topic--item("icon1.svg", "Icono de Trabajo remoto", "Trabajo remoto")
    +topic--item("icon2.svg", "Icono de Repensando la programación", "Repensando la programación")
    +topic--item("icon3.svg", "Icono de Repensando la programación", "Bases del código")
    +topic--item("icon4.svg", "Icono de Repensando la programación", "Seguridad informática")

