//- VARIABLES

-var menu_items = ["episodios", "nosotros", "entrevistas", "tópicos"]
-var titles = ["Episodios", "De dónde venimos", "invetadas/os estelares", "Algunos de nuestros temas", "¿Querés las últimas novedades"]
-var bottoms = ["Conocé más", "Escuchá los episodios"]

//- MIXINS

mixin menu--items
  ul.menu--items
    each menu in menu_items
      li
        a(href="#")=menu

mixin iframe(url)
  .iframe--properties.iframe--position
    iframe(src="https://open.spotify.com/embed-podcast/show/"+url allow="encrypted-media")