//- VARIABLES

-var titles = ["Episodios", "De dónde venimos", "invetadas/os estelares", "Algunos de nuestros temas", "¿Querés las últimas novedades"]
-var bottoms = ["Conoce más", "Escuchá los episodios"]

//- MIXINS